.workex {
    padding: 30px;
    background-image: linear-gradient(#6ba99e, #7daba3)
}

.heading {
    font-size: xx-large;
    font-weight: bolder;
    color: #283936;
}

.description {
    color: #334844;
    font-weight: bold;
}

.greenContainer {
    height: 10vh;
    background-color: #7daba3;
  }