.workex {
  padding: 30px;
  background-color: #f2efee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.title {
  font-size: large;
  font-weight: bold;
  align-self: center;
  color: #3b544f;
}

.card {
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 20px;
}

.heading {
  font-size: larger;
  font-weight: bold;
  color: #3b544f;
}
